<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">ADMIN DASHBOARD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link active" routerLink="/users">Gestion Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/signup">Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/list-admins">Gestion Administrator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/addAdmin">Add Administrator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/listBooks">Gestion Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/addBook">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/addCategory">Gestion Category</a>
            </li>

        </ul>
    </div>
</nav>
